<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Use the Console appender to log to standard output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- Reference the Console appender -->
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
